<dvi class="users-new-warpper">
    <dvi class="container">
        <dvi class="row">
            <dvi class="col-bd-offset-4 col-md-4 users-new-container">
                <h1 class="text-center text-white">Log in</h1>
                <%= form_for :session, url: login_path do |f| %>
                 <dvi class="form-group">
                     <%= f.label :email, class: "text-white" %>
                     <%= f.text_field :email, class: "form-control" %>
                 </dvi>
                 <dvi class="form-group">
                     <%= f.label :password, class: "text-white" %>
                     <%= f.password_field :password, class: "form-control" %>
                 </dvi>
                 
                 <%= f.submit "ログイン", class: "btn-block btn-white" %>
                <% end %> 
            </dvi>
        </dvi>
    </dvi>
</dvi>